<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Refer to the  <a href=https://github.com/Darrius17/Twitter-Clone>README</a> file on my github.
  
If you need any additionsal help navigating this website, you can contact me with any questions at Darrius.X.Leaphart@Gmail.com. 
</p>
